main {
    background-color: #d1ffff;
    display: flex;
    flex-direction: column;
    margin: 100px 100px;
}

div{
    display: flex;
    min-width: 50px;
    flex-direction: column;
    align-items: center;
}

article{
    margin: 20px;
}

